body {
  /*background-image:url(Olympic_flag.svg);
  background-repeat:no-repeat;*/
  background-color: rgba(200, 200, 50, 0.5);
}

#navigateur ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  background-color: red;
}

#navigateur li{
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 100px;
  height: 40px;
  border-right: 1px solid white;
  text-align: center;
  line-height: 40px;
}

#navigateur li a{
  display: block;
  text-decoration: none;
  color: white;
}

#navigateur li :hover{
  background-color: blue;
}

#corps{
  border-left: 2px;
  border-right: 2px;
  border-color: blue;
  text-align: left;
  position: absolute;
  top: 10%;
  left: 20%;
  width: 60%;
}
